 <div class="container">
            <div class="footer-inner-section">
                <div class="footer-logo footer-box">
                    <a routerLink="/home"><span>Ai</span>Creator</a>
                    <p class="mb-0">Copyright © 2025 AiCreator.</p>
                    <p>All Rights Reserved.</p>
                    <ul class="list-unstyled mb-0">
                        <li><span class="d-block">Social Media</span></li>
                        <li class="d-inline-block ml-0"><a href="https://www.facebook.com/"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="d-inline-block"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="d-inline-block"><a href="https://www.instagram.com/"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li class="d-inline-block mr-0"><a href="https://pk.linkedin.com/"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="footer-box">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a routerLink="/about">About Company</a></li>
                        <li><a routerLink="/services">Our Solutions</a></li>
                        <li><a routerLink="/cervices">Our Best Services</a></li>
                        <li class="mb-0"><a routerLink="/about">Professional Team</a></li>
                    </ul>
                </div>
                <div class="footer-box address-box">
                    <h4>Address</h4>
                    <ul class="list-unstyled">
                        <li class="position-relative"><i class="fas fa-map-marker-alt"></i> 123 Imagination street <br> Vienna Austria</li>
                        <li class="position-relative"><i class="fas fa-phone-volume"></i> <a href="tel:+123456789">+1 234 567 89</a></li>
                        <li class="mb-0 position-relative"><i class="fas fa-envelope"></i> <a
                                href="mailto:info@aicreator.com">info aicreator.com</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-form-box">
                    <h4>Newsletter Signup</h4>
                    <ul class="list-unstyled">
                        <li class="position-relative mb-0"><input class="bg-light-black" type="text"
                                placeholder="Enter Your Email Address"> <button>Send</button></li>
                    </ul>
                    <form action="/action_page.php">
                        <input type="checkbox" id="policy" name="policy" value="Bike">
                        <label for="policy" class="check-box"></label>
                        <label for="policy"> I agree to the <a href="#">Privacy Policy</a>.</label><br>
                    </form>
                </div>
            </div>
        </div>
