<section class="collection-section padding-top padding-bottom">
  <div class="generic-title mt-4 pt-4" data-aos="fade-up" data-aos-duration="400">
    <span class="section-subtitle">MEET THE TEAM</span>
    <h3 class="title-width padding-bottom-medium">Creative Minds Behind the AI</h3>
  </div>
  <div class="container">
    <div class="row">
      <div
        class="mb-3 col-lg-3 col-md-6 col-sm-6"
        *ngFor="let member of team; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-duration]="'400'"
        [attr.data-aos-delay]="i * 50"
      >
        <div class="collection-box">
          <figure>
            <img [src]="member.image" [alt]="member.title">
          </figure>
          <h4>{{ member.title }}</h4>
          <p>{{ member.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


