<section class="image-gen padding-top padding-bottom">
  <div class="generic-title mt-4 pt-4">
            <span class="section-subtitle">Unleashing Creativity with Artificial Intelligence</span>
        </div>
  <div class="container">
    <div class="image-generator">
      <h2 class="mb-4">AI Image Generation</h2>
      <form (submit)="generateImage($event)">
        <input type="text" [(ngModel)]="prompt" placeholder="Describe your image..." name="prompt" required />
        <button class="mt-4" type="submit">Generate</button>
      </form>

      <div *ngIf="loading">Generating...</div>

      <img *ngIf="imageUrl" [src]="imageUrl" alt="Generated Image" />
    </div>
  </div>
</section>
