.image-generator {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.image-generator input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.image-generator button {
  font-size: 18px;
  line-height: 30px;
  padding: 15px 41px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  background: var(--button-color);
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.image-generator button:hover {
  color: var(--button-color);
  background: var(--primary-color);
  transform: translateY(-5px);
}

.image-generator img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}
