<section class="contact-page padding-top">
    <div class="container"> 
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-0">
                <div class="contact-left-sec">
                    <span class="section-subtitle-left">CONTACT US</span>
                    <h3 class="title-width-left">Love to hear from you, Get in touch!</h3>
                    <p class="pt-2 pb-3">Whether you have a question, feedback, or a project in mind — we're here to help. Reach out and let’s start a conversation.</p>
                    <div class="ai-btn">
                        <a routerLink="/about">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-right-sec">
                    <figure class="mb-0">
                        <img src="images/contact.jpg" alt="contact-img">
                    </figure>
                    <div class="contact-review-box">
                        <span>People</span>
                        <div class="counting-box">
                            100+
                        </div>
                        <p>Best Reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
<!-- contact section-->
<section class="contact-section" id="form-contact">
        <div class="container">
            <div class="generic-title">
                <span class="section-subtitle">CONTACT US</span>
                <h3 class="title-width padding-bottom-medium">Have a question or idea?<br>
  Send us a message</h3>
            </div>
            <div class="contct-form-section">
                <div class="contact-form-box">
                    <form class="bg-dark-black" id="contactpage" >
                        <ul class="list-unstyled mb-0">
                            <li class="position-relative">
                                <i class="fas fa-user-alt"></i>
                                    <input class="w-100" placeholder="Name" type="text" name="fname" id="fname"></li>
                            <li class="position-relative"><i class="fas fa-phone-volume"></i><input class="w-100" type="text" placeholder="Phone Number" name="phone" id="phone"></li>
                            <li class="position-relative">
                                <i class="fas fa-envelope"></i><input class="w-100" type="text" placeholder="Email Address" name="email" id="email"></li>
                            <li class="w-100 position-relative"><i class="fas fa-pencil-alt"></i><textarea class="w-100" placeholder="Message" name="subject" id="subject"></textarea></li>
                            <li class="mb-0 w-100 d-inline-block generic-btn">
                                <div class="ai-btn">
                                    <a routerLink="/about">Send</a>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>

