<section class="contact-page padding-top">
    <div class="container"> 
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-0">
                <div class="contact-left-sec">
                    <span class="section-subtitle-left">CONTACT US</span>
                    <h3 class="title-width-left">Love to hear from you, Get in touch!</h3>
                    <p class="pt-2 pb-3">Whether you have a question, feedback, or a project in mind — we're here to help. Reach out and let’s start a conversation.</p>
                    <div class="ai-btn">
                        <a href="#form-contact">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-right-sec">
                    <figure class="mb-0">
                        <img src="images/contact.jpg" alt="contact-img">
                    </figure>
                    <div class="contact-review-box">
                        <span>People</span>
                        <div class="counting-box">
                            100+
                        </div>
                        <p>Best Reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
<!-- contact section-->
<section class="contact-section" id="form-contact">
        <div class="container">
            <div class="generic-title">
                <span class="section-subtitle">CONTACT US</span>
                <h3 class="title-width padding-bottom-medium">Feel free to use the contact form <br>
                    to the right to reach out to us, or write us <br>
                    the old fashion way.</h3>
            </div>
            <div class="contct-form-section">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-5 order-md-0 order-2 ">
                        <div class="contact-details">
                            <ul class="mb-0 list-unstyled">
                                <li class="position-relative"><i class="fas fa-map-marker-alt"></i> 123 Imagination street, Vienna <br>
                                    Austria</li>
                                <li class="position-relative"><i class="fas fa-phone-volume"></i> <a href="tel:+123456789">+1 234 567 89</a></li>
                                <li class="position-relative mb-0"><i class="fas fa-envelope"></i> <a href="mailto:info@aicreator.com">info aicreator.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="contact-form-box">
                            <form class="bg-dark-black" id="contactpage" >
                                <h3>How Can We Help?</h3>
                                <ul class="list-unstyled mb-0">
                                   <li class="position-relative">
                                       <i class="fas fa-user-alt"></i>
                                       <input class="w-100" placeholder="Name" type="text" name="fname" id="fname"></li>
                                   <li class="position-relative"><i class="fas fa-phone-volume"></i><input class="w-100" type="text" placeholder="Phone Number" name="phone" id="phone"></li>
                                   <li class="position-relative">
                                       <i class="fas fa-envelope"></i><input class="w-100" type="text" placeholder="Email Address" name="email" id="email"></li>
                                   <li class="w-100 position-relative"><i class="fas fa-pencil-alt"></i><textarea class="w-100" placeholder="Message" name="subject" id="subject"></textarea></li>
                                   <li class="mb-0 w-100 d-inline-block generic-btn">
                                       <button id="submit">Get Started</button>
                                   </li>
                                </ul>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

