   
    <section class="blog-posts padding-top padding-bottom">
        <div class="generic-title mt-4 pt-4">
            <span class="section-subtitle">AI CREATOR BLOG</span>
            <h3 class="title-width padding-bottom-medium">How AI Is Revolutionizing the World of Digital Art</h3>
        </div>
        <div class="container">
            <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-box mb-4">
                            <figure class="blog-image">
                                <img src="images/blogs/blog1.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="blog-text-con">
                                <ul class="list-unstyled">
                                    <li class="d-inline-block">
                                        <figure class="mb-0">
                                            <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                        </figure>
                                    </li>
                                    <li class="d-inline-block"><span>Lena Carter</span></li>
                                </ul>
                                <a href="#">
                                    <h4>The Top Benefits of AI for Marketers, State of AI Data</h4>
                                </a>
                                <div class="posted-details">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 3, 2025</li>
                                        <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-box mb-4">
                            <figure class="blog-image">
                                <img src="images/blogs/blog2.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="blog-text-con">
                                <ul class="list-unstyled">
                                    <li class="d-inline-block">
                                        <figure class="mb-0">
                                            <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                        </figure>
                                    </li>
                                    <li class="d-inline-block"><span>Eli Navarro</span></li>
                                </ul>
                                <a href="#">
                                    <h4>AI Tools to Help You Grow Your AI Graphics Business</h4>
                                </a>
                                <div class="posted-details">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 4, 2025</li>
                                        <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-box mb-4">
                            <figure class="blog-image">
                                <img src="images/blogs/blog3.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="blog-text-con">
                                <ul class="list-unstyled">
                                    <li class="d-inline-block">
                                        <figure class="mb-0">
                                            <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                        </figure>
                                    </li>
                                    <li class="d-inline-block"><span>Maya Chen</span></li>
                                </ul>
                                <a href="#">
                                    <h4>When Is the Best Time to Post on Instagram in 2025?</h4>
                                </a>
                                <div class="posted-details">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 5, 2025</li>
                                        <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-box">
                            <figure class="blog-image">
                                <img src="images/blogs/blog4.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="blog-text-con">
                                <ul class="list-unstyled">
                                    <li class="d-inline-block">
                                        <figure class="mb-0">
                                            <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                        </figure>
                                    </li>
                                    <li class="d-inline-block"><span>Caroline Forsey</span></li>
                                </ul>
                            <a href="#">
                                <h4>The Top Benefits of AI for Marketers, State of AI Data</h4>
                            </a>
                                <div class="posted-details">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 6, 2025</li>
                                        <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-box">
                            <figure class="blog-image">
                                <img src="images/blogs/blog5.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="blog-text-con">
                                <ul class="list-unstyled">
                                    <li class="d-inline-block">
                                        <figure class="mb-0">
                                            <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                        </figure>
                                    </li>
                                    <li class="d-inline-block"><span>Noah Fischer</span></li>
                                </ul>
                            <a href="#">
                                <h4>See what’s possible when machine learning meets human imagination.</h4>
                            </a>
                                <div class="posted-details">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 10, 2025</li>
                                        <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-box">
                            <figure class="blog-image">
                                <img src="images/blogs/blog6.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="blog-text-con">
                                <ul class="list-unstyled">
                                    <li class="d-inline-block">
                                        <figure class="mb-0">
                                            <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                        </figure>
                                    </li>
                                    <li class="d-inline-block"><span>Sofia Ivanova</span></li>
                                </ul>
                            <a href="#">
                                <h4>From concept to creation in seconds — powered by algorithms, driven by vision.</h4>
                            </a>
                                <div class="posted-details">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 13, 2025</li>
                                        <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     
               
            </div>
        </div>
    </section>
