<section class="blog-posts padding-top padding-bottom">
  <div class="generic-title mt-4 pt-4" data-aos="fade-up" data-aos-duration="400">
    <span class="section-subtitle">AI CREATOR BLOG</span>
    <h3 class="title-width padding-bottom-medium">
      How AI Is Revolutionizing the World of Digital Art
    </h3>
  </div>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-6 col-12"
        *ngFor="let blog of blogs; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-duration]="'400'"
        [attr.data-aos-delay]="i * 50"
      >
        <div class="blog-box mb-4">
          <figure class="blog-image">
            <img [src]="blog.image" alt="blog image" class="img-fluid" />
          </figure>
          <div class="blog-text-con">
            <ul class="list-unstyled">
              <li class="d-inline-block">
                <figure class="mb-0">
                  <img [src]="blog.authorImage" alt="author image" />
                </figure>
              </li>
              <li class="d-inline-block"><span>{{ blog.author }}</span></li>
            </ul>
            <a href="#">
              <h4>{{ blog.title }}</h4>
            </a>
            <div class="posted-details">
              <ul class="list-unstyled mb-0">
                <li class="d-inline-block">
                  <i class="fas fa-calendar-alt"></i> {{ blog.date }}
                </li>
                <li class="d-inline-block mr-0">
                  <i class="fas fa-comments"></i> {{ blog.comments }} Comments
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
