.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('/images/AIhero.jpg') no-repeat center center / cover;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  z-index: 1;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.4); /* dark overlay for readability */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 640px;
  margin-left: 30px;
  color: var(--primary-color);
}

.hero-content h1 {
  margin-bottom: 30px;
  line-height: 1.2;
}

.hero-content h1 span {
  color: var(--button-color);
}

.hero-content p {
  font-weight: 300;
  margin-bottom: 44px;
}

img {
  width: 250px;
  height: 250px;             /* Set a consistent height */
  object-fit: cover;         /* Crop & fill the area */
  border-radius: 5px;       /* Optional: rounded corners */
  display: block;
}

.carousel-wrapper {
  padding-bottom: 2rem;
}

::ng-deep .splide__pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;     
  position: static;   
}

::ng-deep .splide__pagination__page {
  width: 10px;
  height: 10px;
  background-color: #dcdcdc;     
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

::ng-deep .splide__pagination__page.is-active {
  background-color: var(--accent); 
}

.collection-box {
  background-color: #1a1a1a;
  margin: 0 1rem;
  padding: 3rem 1rem;
  border-radius: 10px;
  text-align: center;
  color: var(--primary-color);
  transition: background 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collection-box:hover {
  background: var(--button-color);
  transform: translateY(-5px);
}

.collection-box figure {
  margin-bottom: 1rem;
}

.collection-box img {
  max-width: 50px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.collection-box h4 {
  margin-top: 1rem;
  color: var(--primary-color);
}

.collection-box p {
  color: var(--text-color);
  margin: 0.8rem 0 1.0rem;
  line-height: 1.5;
}

.collection-box a {
  font-size: 1.2rem;
  color: var(--accent);
  transition: color 0.3s ease;
}

.collection-box a:hover {
  color: #fff;
}

