<section class="hero-section w-100 float-left">
  <div class="wrapper">
    <div class="hero-content">
      <h1>
        The <span>Future</span> in AI Graphic Generator
      </h1>
      <p>
        A Valid OpenAI Token is Required to Unlock <br>
        Image Generation Capabilities
      </p>
      <div class="ai-btn">
        <a routerLink="/about">Get Started</a>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section class="service-slider-sec w-100 float-left padding-top padding-bottom">
  <div class="generic-title">
    <span class="section-subtitle">WHAT WE DO</span>
    <h3 class="title-width padding-bottom-medium">
      Discover the power of AI tools designed with intelligence, elegance, and innovation
    </h3>
  </div>

  <div class="service-slider-box">
  <div class="carousel-wrapper">
  <splide [options]="carouselOptions">
    <splide-slide *ngFor="let img of images">
      <img [src]="img" alt="slide" />
    </splide-slide>
  </splide>
</div>
</div>
</section>

