<section class="hero-section">
    <div class="hero-content">
      <h1 data-aos="fade-up" data-aos-duration="600">
        The <span>Future</span> in AI Graphic Generator
      </h1>
      <p data-aos="fade-up" data-aos-duration="600">
        A Valid OpenAI Token is Required to Unlock <br>
        Image Generation Capabilities
      </p>
      <div class="ai-btn" data-aos="fade-up" data-aos-duration="600">
        <a routerLink="/about">Get Started</a>
      </div>
    </div>
</section>

<!-- Carousel Section -->
<section class="service-slider-sec w-100 float-left padding-top padding-bottom">
        <div class="generic-title">
            <span class="section-subtitle" data-aos="fade-up" data-aos-duration="600">WHAT WE DO</span>
            <h3 class="title-width padding-bottom-medium" data-aos="fade-up" data-aos-duration="600">
                Discover the power of AI tools designed with intelligence, elegance, and innovation
            </h3>
        </div>

        <div class="service-slider-box" data-aos="fade-up" data-aos-duration="600">
            <div>
                <splide [options]="carouselOptions">
                    <splide-slide *ngFor="let img of images">
                        <img [src]="img" alt="slide" />
                    </splide-slide>
                </splide>
            </div>
        </div>
</section>
<!-- Carousel Section -->

<!-- Collection section -->
<section class="collection-section padding-bottom">
        <div class="generic-title" data-aos="fade-up" data-aos-duration="600">
            <span class="section-subtitle" data-aos="fade-up" data-aos-duration="600">HUGE COLLECTION</span>
            <h3 class="title-width padding-bottom-medium" data-aos="fade-up" data-aos-duration="600">AI-Powered Design</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="mb-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="collection-box">
                        <figure>
                            <img src="images/collection/collection-img1.png" alt="collection-img1">
                        </figure>
                        <h4>Intelligent</h4>
                        <p>Smart algorithms that adapt, learn, and generate with precision to enhance your creative workflows.</p>
                        <a routerLink="/service"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="mb-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="collection-box">
                        <figure>
                            <img src="images/collection/collection-img2.png" alt="collection-img2">
                        </figure>
                        <h4>Visualization</h4>
                        <p>Transform ideas into vivid, high-quality visuals using advanced AI rendering and image synthesis.</p>
                        <a routerLink="/service"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="mb-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="collection-box">
                        <figure>
                            <img src="images/collection/collection-img3.png" alt="collection-img3">
                        </figure>
                        <h4>Creativity</h4>
                        <p>Push the boundaries of imagination with tools designed to unlock unique and artistic possibilities.</p>
                        <a routerLink="/service"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="mb-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="collection-box">
                        <figure>
                            <img src="images/collection/collection-img4.png" alt="collection-img4">
                        </figure>
                        <h4>Flexible</h4>
                        <p>Fully customizable outputs that adapt to your style, needs, and evolving ideas with ease and flexibility.</p>
                        <a routerLink="/service"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Collection section -->

<!-- about section -->
    <section class="about-sec padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 padding-bottom-medium">
                    <figure class="mb-0">
                        <img src="images/about.jpg" alt="about-img">
                    </figure>
                </div>
                <div class="col-lg-6">
                    <div class="about-details-box">
                        <div class="generic-title">
                            <span class="section-subtitle" data-aos="fade-up" data-aos-duration="600">ABOUT US</span>
                            <h3 class="title-width padding-bottom-medium" data-aos="fade-up" data-aos-duration="600">Architecting the Digital
                                Future</h3>
                        </div>        
                        <p >We specialize in cutting-edge AI image creation, blending technology and creativity to bring digital visions to life. From photorealistic renderings to imaginative visual concepts, our tools empower designers, brands, and storytellers to explore new visual frontiers with speed and precision.</p>
                        <div class="ai-btn">
                            <a routerLink="/about">About us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- about section-->

<!-- plans section-->
    <section class="plans-section padding-bottom">
        <div class="container">
            <div class="generic-title">
                <span class="section-subtitle" data-aos="fade-up" data-aos-duration="600">AFFORDABLE PLANS</span>
                <h3 class="title-width padding-bottom-medium" data-aos="fade-up" data-aos-duration="600">Pricing Plans</h3>
            </div>
            <div class="row">
                <div class="mb-3 col-lg-6 col-md-6">
                    <div class="plan-box text-center">
                        <h3>Business Plan</h3>
                        <p class="plan-txt">Perfect for private individuals</p>
                        <p>Starting at:</p>
                        <div class="price">
                            <p>$ 8 /mo</p>
                        </div>
                        <div class="w-100">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i> 100 Projects</li>
                                <li><i class="fas fa-check"></i> Download prototypes</li>
                                <li><i class="fas fa-check"></i> Graphic Images</li>
                            </ul>
                        </div>
                        <div class="ai-btn">
                            <a routerLink="/service">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-lg-6 col-md-6">
                    <div class="plan-box text-center">
                        <h3>Premium Plan</h3>
                        <p class="plan-txt">Perfect for private companies</p>
                        <p>Starting at:</p>
                        <div class="price">
                            <p>$ 19 /mo</p>
                        </div>
                        <div class="w-100">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i> Unlimited Projects</li>
                                <li><i class="fas fa-check"></i> Download prototypes</li>
                                <li><i class="fas fa-check"></i> Graphic Images</li>
                            </ul>
                        </div>
                        <div class="ai-btn">
                            <a routerLink="/service">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- blogs section-->
    <section class="blogs-section padding-bottom">
        <div class="container">
            <div class="generic-title">
                <span class="section-subtitle" data-aos="fade-up" data-aos-duration="600">LATEST POSTS</span>
                <h3 class="title-width padding-bottom-medium" data-aos="fade-up" data-aos-duration="600">News & Articles</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="blog-inner-box">
                        <figure class="mb-0">
                            <img src="images/blogs/blog1.jpg" alt="blog-img1">
                        </figure>
                        <div class="blog-text-con">
                            <ul class="list-unstyled">
                                <li class="d-inline-block">
                                    <figure class="mb-0">
                                        <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                    </figure>
                                </li>
                                <li class="d-inline-block"><span>Lena Carter</span></li>
                            </ul>
                            <a href="single-blog.html">
                                <h4>The Top Benefits of AI for Marketers, State of AI Data</h4>
                            </a>
                            <div class="posted-details">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 3, 2025</li>
                                    <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-duration="600">
                    <div class="blog-inner-box">
                        <figure class="mb-0">
                            <img src="images/blogs/blog2.jpg" alt="blog-img2">
                        </figure>
                        <div class="blog-text-con">
                            <ul class="list-unstyled">
                                <li class="d-inline-block">
                                    <figure class="mb-0">
                                        <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                    </figure>
                                </li>
                                <li class="d-inline-block"><span>Eli Navarro</span></li>
                            </ul>
                            <a href="single-blog.html">
                                <h4>AI Tools to Help You Grow Your AI Graphics Business</h4>
                            </a>
                            <div class="posted-details">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 4, 2025</li>
                                    <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-duration="600">
                    <div class="blog-inner-box">
                        <figure class="mb-0">
                            <img src="images/blogs/blog3.jpg" alt="blog-img3">
                        </figure>
                        <div class="blog-text-con">
                            <ul class="list-unstyled">
                                <li class="d-inline-block">
                                    <figure class="mb-0">
                                        <img src="images/blogs/profile.jpg" alt="blog-profile-img">
                                    </figure>
                                </li>
                                <li class="d-inline-block"><span>Maya Chen</span></li>
                            </ul>
                            <a href="single-blog.html">
                                <h4>When Is the Best Time to Post on Instagram in 2025?</h4>
                            </a>
                            <div class="posted-details">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block"><i class="fas fa-calendar-alt"></i> June 6, 2025</li>
                                    <li class="d-inline-block mr-0"><i class="fas fa-comments"></i> 0 Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blogs section-->


